includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - src
    ignoreErrors:
        - '#Trait Skywalker\\Otp\\Concerns\\HasOtp is used zero times and is not analysed.#'
    excludePaths:
        - tests/*
        - vendor/skywalker-labs/*
